<link rel="stylesheet" href="css/style.css">
<h1>Boats</h1>
<ul>
  <% boats.forEach(function(boat){ %>
    <li><h3>name: <a href="/detail/<%= boat.name %>"><%= boat.name %></a></h3></li>
    <li>length: <%= boat.length %></li>
    <li>type: <%= boat.type %></li>
  <% }); %>
</ul>
<form action="" method="POST">
  <label for="name">Find By Name</label>
  <input type="text" id="name" value="" name="name">
  <button type="submit"> Find Boat
</form>